body
{
    background-image: linear-gradient(to bottom right, rgb(45, 44, 44), rgb(0, 0, 0));
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    text-align: left;
}
p {
    color: white;
    font-size: 22px;
    }
    li {
        color: white;
        font-size: 16px;
        }
        a {
            color: white;
            font-size: 16px;
            }
            h1, h2, h3, h4, h5, h6 {
                color: white;
            }
            ul{
                list-style-position: inside;
                text-align: center;
            }
            li{
               text-align: center; 
            }
            a:link {
                color: #FF0000;
              }
              
              /* visited link */
              a:visited {
                color: #00FF00;
              }
              
              /* mouse over link */
              a:hover {
                color: #FF00FF;
              }
              
              /* selected link */
              a:active {
                color: #0000FF;
              }
              .Image2 img{
                height: 80vh;
                width: 80vh;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 5vh;
              }
              .Text {
               text-align: center; 
              }