.Embed {
    align-items: center;
  text-align: center;
  width: 100vw;
  flex-direction: column;
}
nav {
display: flex;
flex-direction: column;
align-items: center;
width: 100vw;
}
p {
    display: flex;
    width: 100vw;
    flex-direction: column;
text-align:center
}
.dancing-skeleton-thing {
  position: fixed;
  left: 15px;
  top: 10vh;
}
.snoopdog {
  position: fixed;
  right:15px;
  bottom: 10vh;
}
.shortattentionspan {
  position: fixed; 
 left: 550px;
 top:40vh;
}